USE [master]
GO
/****** Object:  Database [NetworkSocial]    Script Date: 5/25/2020 10:19:01 AM ******/
CREATE DATABASE [NetworkSocial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NetworkSocial', FILENAME = N'D:\SQLData\NetworkSocial.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NetworkSocial_log', FILENAME = N'D:\SQLLog\NetworkSocial_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NetworkSocial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NetworkSocial]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/25/2020 10:19:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
